.heroes-dashboard [class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px; 
  cursor: pointer;}

.heroes-dashboard [class*='col-']:last-of-type {
  padding-right: 0; }

.heroes-dashboard a {
  text-decoration: none; }

.heroes-dashboard *, .heroes-dashboard *:after, .heroes-dashboard *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.heroes-dashboard h3 {
  text-align: center;
  margin-bottom: 0; }

.heroes-dashboard h4 {
  position: relative;
  display: inline-block; }

.heroes-dashboard .grid {
  margin: 0; }

.heroes-dashboard .col-1-4 {
  width: 25%; }

@media (max-width: 768px) {
  .heroes-dashboard .col-1-4 {
    width: auto;
  }
}

.heroes-dashboard .module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px; }

.heroes-dashboard .module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b; }

.heroes-dashboard .grid-pad {
  padding: 10px 0; }

.heroes-dashboard .grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px; }

@media (max-width: 600px) {
  .heroes-dashboard .module {
    font-size: 10px;
    max-height: 75px; } }

@media (max-width: 1024px) {
  .heroes-dashboard .grid {
    margin: 0; }
  .heroes-dashboard .module {
    min-width: 60px; } }

#search-component .search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  padding: 5px;
  background-color: white;
  cursor: pointer; }

#search-component .search-result:hover {
  color: #eee;
  background-color: #607D8B; }

#search-component #search-box {
  width: 200px;
  height: 20px; }

.clear {
  clear: both;
}